[Unit]
Description=aerospacefunnel: FAA NAS status (*:0/5:00)

[Timer]
OnCalendar=*:0/5:00
Persistent=true
RandomizedDelaySec=20

[Install]
WantedBy=timers.target
